<form>
  <section class="form-block">
      <label>Select Doctor To Remove</label>
      <div class="form-group">
          <label for="aForm_3">Doctor Name</label>
          <div class="select">
              <select id="aForm_3">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
              </select>
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Remove</button>
  </section>
</form>